[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
"discord.py" = "*"
python-dotenv = "*"
pyyaml = "*"
pylint = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.10"
